* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
header {
  background-color: blueviolet;
  text-align: center;
  padding: 1.5rem;
  color: white;
}
main {
  display: flex;
  justify-content: center;
}
.contaner {
  width: 60%;
  margin-top: 1rem;
}
.todos--inputs {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
input {
  padding: 0.6rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  /* border: 1px solid red; */
}

button {
  margin: auto;
  width: 60px;
  border-radius: 2px;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: blueviolet;
  color: white;
  transition: all 0.3s ease;
}
button:active {
  background-color: rgb(160, 77, 237);
  scale: 0.9;
}
.todos--contents {
  margin: 2rem 0 1rem 0;
}
.todos--scroll {
  height: 300px;
  scroll-behavior: smooth;
  overflow-y: auto;
}
.todos--contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  margin-right: .5rem;
}
.todos--list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.todos--event {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.empty--data {
  text-align: center;
  margin-block: 5rem;
}
.editbtn{
 display: flex;
}